.signup-container {
    height: 100%;
    align-content: center;
    margin-top: 5rem;
}

body {
    background-image: url('https://images.squarespace-cdn.com/content/v1/52851881e4b068394a271c39/1583270295541-377ICEK428K5K4UKJD7T/ke17ZwdGBToddI8pDm48kKEe70UF8oKIO3wRkcdq3tB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0lCvyAd1-5UQFnp8aARaJsU8w50hfP6ECqf2LiXqlTgywEBlp1ZSpm6UHJZ6Jnwuow/Alternative+Process+1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    padding: 3%;
    width: 31rem;
    margin-top: auto;
    margin-bottom: 3rem;
    height: 40rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffc107;
}

.card h1 {
    text-align: center;
    color: #212121;
    margin-bottom: 1rem;
}

.card h2 {
    color: #212121;
    font-size: 1rem;
}

.card form {
    padding: 5%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #212121;
}

.btnSubmit:hover {
    color: #212121;
    background-color: #fff;
}

.card .login {
    color: #212121;
    font-weight: 600;
}
